<div class="grid grid-rows-5 grid-cols gap-4 border border-solid border-blue-400 content-center
 cotent-start bg-gray-200">
  <!--Display Sidebar-->
    <div #sidebar class="row-start-1 row-span-4 columns-starter-2 flex justify-self-right bg-yellow-200 border border-solid border-black">Sidebar</div>


    <!--Displaying Horses-->
    <div #firsthorse class="row-start-1 columns-starter-1 flex justify-self-start border border-solid border-black p-5">1</div>
    <div #secondhorse class="row-start-2 columns-starter-1 flex justify-self-start border border-solid border-black p-5">2</div>
    <div #thirdhorse class="row-start-3 columns-starter-1 flex justify-self-start border border-solid border-black p-5">3</div>
    <div #fourthhorse class="row-start-4 columns-starter-1 flex justify-self-start border border-solid border-black p-5" >4</div>
    <div #fivthhorse class="row-start-5 columns-starter-1 flex justify-self-start border border-solid border-black p-5">5</div>
</div>
