<div class="grid grid-rows-7 grid-cols-3 gap-4 border border-solid border-blue-400 bg-gray-200">
  <div class="col-span-3 border border-black border-solid flex justify-between p-5">

    <h1 class="border border-black border-solid p-5">Show Users</h1>

    <h1 class="border border-black border-solid p-5"> Location: {{GameManager.GetInstance().gamelocation!.location}}</h1>

    <h1 class="border border-black border-solid p-5"> TrackLength: {{ GameManager.GetInstance().gamelocation!.trackLength.toFixed(2) }} m</h1>
  </div>


  <!-- https://codepen.io/pierrinho/pen/VVGezJ -->

  <div class="row-start-2 columns-starter-1 col-span-3 flex justify-self-center flex-col border border-solid border-black p-5 w-9/12">
    <div>
      <h1>{{GameManager.GetInstance().gamelocation!.horses[0].name}}</h1>
      <mat-progress-bar mode="determinate" [value]="horseValues[0]"></mat-progress-bar>
    </div>

  </div>

  <div class="row-start-3 columns-starter-1 col-span-3 flex justify-self-center flex-col border border-solid border-black p-5 w-9/12">
    <h1>{{GameManager.GetInstance().gamelocation!.horses[1].name}}</h1>
    <mat-progress-bar mode="determinate" [value]="horseValues[1]"></mat-progress-bar>
  </div>

  <div class="row-start-4 columns-starter-1 col-span-3 flex justify-self-center flex-col border border-solid border-black p-5 w-9/12">
    <h1>{{GameManager.GetInstance().gamelocation!.horses[2].name}}</h1>
    <mat-progress-bar mode="determinate" [value]="horseValues[2]"></mat-progress-bar>
  </div>

  <div class="row-start-5 columns-starter-1 col-span-3 flex justify-self-center flex-col border border-solid border-black p-5 w-9/12">
    <h1>{{GameManager.GetInstance().gamelocation!.horses[3].name}}</h1>
    <mat-progress-bar mode="determinate" [value]="horseValues[3]"></mat-progress-bar>
  </div>

  <div class="row-start-6 columns-starter-1 col-span-3 flex justify-self-center flex-col border border-solid border-black p-5 w-9/12">
    <h1>{{GameManager.GetInstance().gamelocation!.horses[4].name}}</h1>
    <mat-progress-bar mode="determinate" [value]="horseValues[4]"></mat-progress-bar>
  </div>
</div>
