.track {
    width: 100%;
    height: 150px;
    background-color: #e6e6e6;
    position: relative;
    overflow: hidden;
}

.horse {
    width: 50px;
    height: 30px;
    background-color: brown;
    position: absolute;
    top: 60px; /* Adjust this value based on the height of the track */
    transition: left 1s linear;
}

#horse1 { left: 0%; }
#horse2 { left: 0%; }
#horse3 { left: 0%; }
#horse4 { left: 0%; }
#horse5 { left: 0%; }