<div class="sticky">
  <nav class="grid grid-rows-1 grid-flow-col gap-4 text-2xl bg-amber-400 shadow-md justify-items-center items-center">

    <span (click)="matDrawer.toggle()" class="material-icons row-start-1 columns-start-1 text-2xl content-right size-5 scale-150 flex justify-self-start mb-4 ml-5 cursor-default">menu</span>

    <div class="row-start-1 columns-start-2 content-center">
      {{title}}
    </div>

    <img class="columns-start-3 row-start-1 scale-150 m-5 justify-self-end" src="../../assets/icons/raceicon.jpg" alt="Logo" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">

    <!-- https://klarsys.github.io/angular-material-icons/  -->
  </nav>
</div>

<mat-drawer-container autosize class="flex justify-self-end">
  <mat-drawer #matDrawer opened="false" mode="push">
    <mat-nav-list>
      <mat-list-item>
        <button mat-button (click)="matDrawer.toggle()" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon>timer</mat-icon> Horseracepage</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="matDrawer.toggle()" routerLink="/betpage" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon>account_balance_wallet</mat-icon> Place Bets</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon> Account Settings</button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="matDrawer.toggle()" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" class="basis-1/2">Login</button>
          <button mat-menu-item (click)="matDrawer.toggle()" routerLink="/sign-up"  routerLinkACtive="active" ariaCurrentWhenActive="page" class="basis">Sign-up</button>
        </mat-menu>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="matDrawer.toggle(); iterate()" ><mat-icon>play_arrow</mat-icon> Start Race</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="width: 100%; height: 100%; min-width: 500px; min-height: 400px;">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
