<div class="">
  <div class="grid grid-rows-5 grid-cols-1 gap-4 border border-solid border-2 border-amber-900 content-center bg-blue-400">
    <h1 class="text-4xl row-start-1 columns-starter flex justify-self-center">Login</h1>

    <h2 class="text-4xl row-start-2 columns-starter flex justify-self-center">{{textBoxMessage}}</h2>
    <input #usernameElement class="p-5 row-start-3 columns-starter-1 size-1/4 flex justify-self-center" type="text" placeholder="Input Username please!"
           [(ngModel)]="username"/>
    <input #passwordElement class="p-5 row-start-4 columns-starter-1 size-1/4 flex justify-self-center" type="password" placeholder="Input Password please!"
           [(ngModel)]="password"/>
    <button class="p-5 row-star5 columns-starter-1 border border-solid border-2 border-amber950 flex justify-self-center" (click)="OnLoginClick()">Login</button>
  </div>
</div>
