<div class="">
  <div class="grid grid-rows-4 grid-cols-1 gap-4 border border-solid border-2 border-amber-900 content-center bg-blue-400">
    <h1 class="text-4xl row-start-1 columns-starter flex justify-self-center">Register</h1>
    <input #username class="p-5 row-start-2 columns-starter-1 size-1/4 flex justify-self-center" type="text" placeholder="Input Username please" [(ngModel)]="usernameinput"/>
    <input #password class="p-5 row-start-3 columns-starter-1 size-1/4 flex justify-self-center" type="password" placeholder="Input Password please!" [(ngModel)]="passwordinput"/>
    <button class="p-5 row-start 4 columns-starter-1 border border-solid border-2 border-amber950 flex justify-self-center" (click)="OnSignUp()">Login</button>
  </div>
</div>
